span.cm-header {
	&.cm-header-1,
	&.cm-header-2,
	&.cm-header-3 {
		border-bottom: 2px solid var(--hr-color);
	}
}

.markdown-rendered {
	h1, h2, h3 {
		border-bottom: 2px solid var(--hr-color);
		padding-bottom: 2px;
	}
}
